[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
datamodel-code-generator = "*"
mypy = "*"
swagger-ui = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
pytest = "*"

[dev-packages]
sphinx = "*"
black = {extras = ["d"], version = "*"}

[requires]
python_version = "3.10"
